* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}

body {
    background-image: url('https://previews.123rf.com/images/vicushka/vicushka1604/vicushka160400061/56319810-asian-cooking-ingredients-on-rustic-background-fresh-vegetables-and-spices-for-tasty-chinese-or-thai.jpg');
    background-size: cover;
    background-position: left;
}

main {
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 45%, rgba(133, 0, 0, 0.7) 100%);
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

p {
    color: white;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 0px;
}

.button {
    background-color: rgba(133, 0, 0, 1);
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 100%;
    margin-bottom: 60px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.div6 {
    grid-area: 2 / 1 / 3 / 2;
}

.div7 {
    grid-area: 2 / 2 / 3 / 3;
}

.div8 {
    grid-area: 2 / 3 / 3 / 4;
}

.div9 {
    grid-area: 2 / 4 / 3 / 5;
}

.div10 {
    grid-area: 2 / 5 / 3 / 6;
}

.div11 {
    grid-area: 3 / 1 / 4 / 2;
}

.div12 {
    grid-area: 3 / 2 / 4 / 3;
}

.div13 {
    grid-area: 3 / 3 / 4 / 4;
}

.div14 {
    grid-area: 3 / 4 / 4 / 5;
}

.div15 {
    grid-area: 3 / 5 / 4 / 6;
}

.div16 {
    grid-area: 4 / 1 / 5 / 2;
}

.div17 {
    grid-area: 4 / 2 / 5 / 3;
}

.div18 {
    grid-area: 4 / 3 / 5 / 4;
}

.div19 {
    grid-area: 4 / 4 / 5 / 5;
}

.div20 {
    grid-area: 4 / 5 / 5 / 6;
}

.div21 {
    grid-area: 5 / 1 / 6 / 2;
}

.div22 {
    grid-area: 5 / 2 / 6 / 3;
}

.div23 {
    grid-area: 5 / 3 / 6 / 4;
}

.div24 {
    grid-area: 5 / 4 / 6 / 5;
}

.div25 {
    grid-area: 5 / 5 / 6 / 6;
}

.div26 {
    grid-area: 6 / 1 / 7 / 2;
}

.div27 {
    grid-area: 6 / 2 / 7 / 3;
}

.div28 {
    grid-area: 6 / 3 / 7 / 4;
}

.div29 {
    grid-area: 6 / 4 / 7 / 5;
}

.div30 {
    grid-area: 6 / 5 / 7 / 6;
}

.div31 {
    grid-area: 7 / 1 / 8 / 2;
}

.div32 {
    grid-area: 7 / 2 / 8 / 3;
}

.div33 {
    grid-area: 7 / 3 / 8 / 4;
}

.div34 {
    grid-area: 7 / 4 / 8 / 5;
}

.div35 {
    grid-area: 7 / 5 / 8 / 6;
}

.div36 {
    grid-area: 8 / 1 / 9 / 2;
}

.div37 {
    grid-area: 8 / 2 / 9 / 3;
}

.div38 {
    grid-area: 8 / 3 / 9 / 4;
}

.div39 {
    grid-area: 8 / 4 / 9 / 5;
}

.div40 {
    grid-area: 8 / 5 / 9 / 6;
}

.div41 {
    grid-area: 9 / 1 / 10 / 2;
}

.div42 {
    grid-area: 9 / 2 / 10 / 3;
}

.div43 {
    grid-area: 9 / 3 / 10 / 4;
}

.div44 {
    grid-area: 9 / 4 / 10 / 5;
}

.div45 {
    grid-area: 9 / 5 / 10 / 6;
}

.div46 {
    grid-area: 10 / 1 / 11 / 2;
}

.div47 {
    grid-area: 10 / 2 / 11 / 3;
}

.div48 {
    grid-area: 10 / 3 / 11 / 4;
}

.div49 {
    grid-area: 10 / 4 / 11 / 5;
}

.div50 {
    grid-area: 10 / 5 / 11 / 6;
}

.parent div {
    background-color: white;
    border-radius: 5px;
    height: 60px;
}

.parent .reward {
    background-color: white;
    background-image: url("../static/images/gift.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.flash {
    width: 100%;
    background-color: rgba(133, 0, 0, 1);
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    box-shadow: 0px -1px 10px black;
    background-color: white;
    overflow: hidden;
    position: fixed;
    height: 60px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

/* Style the links inside the navigation bar */
.navbar a {
    color: rgba(133, 0, 0, 1);
    text-align: center;
    padding: 0px 16px;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}