{% extends "base.html" %}
{% block main %}
<div id="app-body">
    <div class="app-header">
        <img class="logo-small" src="../static/images/download.jpg" alt="tw-logo"/><br>
    </div>
    <div class="page home">
        <section class="app-banner">
            Order from us <br> and get rewards!
        </section>
        <br>
        <section class="app-about">
            <h1 class="app-heading">How it works</h1>
            <br><br>
            <div class="roww">
                <div class="badge">1</div>
                <p>Frequently order a minimum of 5000 RWF from our shop via Vuba Vuba and Rush Foods</p>
            </div>
            <div class="roww">
                <div class="badge">2</div>
                <p>We award you a stamp for each order, and you'll be notified when that happens</p>
            </div>
            <div class="roww">
                <div class="badge">3</div>
                <p>You will be notified when you have enough stamps for a reward. Your stamp card resets every month, so be quick!</p>
            </div>
            <br><br>
            <h3 class="action">Take a look at what you can win!</h3>
        </section>
    </div>
</div>
<div class="nav-icons" style="display: flex;">
    <a href="/app"><i class="fa-solid fa-house" style="color: rgba(133,0,0,1);"></i></a>
    <a href="/gift"><i class="fa-solid fa-gift"></i></a>
    <a href="/card"><i class="fa-solid fa-star"></i></a>
    <a href="/notifications"><i class="fa-solid fa-bell"></i></a>
</div>
{% endblock %}